body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/img/need\ a\ image\ li\ d447e4ea-9d7e-4384-8435-82045f07000d.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 51, 51, 0.671); /* Adjust the alpha value to control the intensity */
    z-index: -1; /* Ensure the overlay is behind other content */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.userInput {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #eef2f3;
    font-size: 18px;
}

button {
    margin-top: 25px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(to right, #9bc5c3, #616161);
    color: #fff;
    transition: background 0.3s;
}

button:hover {
    background: linear-gradient(to right, #6ab9b6, #4b4b4b);
	
}

button:last-child {
    margin-left: 10px;
    background: #e74c3c;
}


#timerPlaceholder{
    background-size: auto;
   color: white;
   text-align: center;
}